.container {
  width: 80%;
  margin: auto;
  font-family: monospace;
}

.header {
  line-height: 48px;
  border-bottom: 1px solid #efefef;
}

.header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.nav {
  float: right;
  line-height: inherit;
}

.nav a {
  color: #666;
  margin: 0 3px;
  text-decoration: none;
  font-family: monospace;
}

.nav a:hover {
  color: green;
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

footer {
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95% !important;
  }
  .header, .footer {
    text-align: center;
  }
  .nav {
    float: none;
    display: block;
  }
}