@import url(https://lsong.org/stylesheets/theme/default.css);
@import url(https://lsong.org/stylesheets/theme/blue.css);
@import url(https://lsong.org/stylesheets/util.css);
@import url(https://lsong.org/stylesheets/grid.css);

body {
  max-width: 650px;
  color: var(--text-color);
  font-family: "Fira Code", monospace;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

a {
  color: var(--link-color) !important;
}

.header {
  line-height: 48px;
}

.header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: monospace;
}

.nav {
  float: right;
  line-height: inherit;
}

.nav a {
  color: #666;
  margin: 0 3px;
  text-decoration: none;
  font-family: monospace;
}

.nav a:hover {
  color: green;
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

footer {
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .footer,
  .header {
    text-align: center;
  }

  .nav {
    float: none;
    display: block;
  }

  ul {
    padding-left: 20px;
  }

  .title {
    display: block;
  }

  .subscribe {
    text-align: center;
  }

  .subscribe input {
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
  }
}
