@import url(https://lsong.org/stylesheets/theme/default.css);
@import url(https://lsong.org/stylesheets/util.css);
@import url(https://lsong.org/stylesheets/grid.css);

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.header {
  line-height: 48px;
}

.header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.nav {
  float: right;
  line-height: inherit;
}

.nav a {
  color: #666;
  margin: 0 3px;
  text-decoration: none;
  font-family: monospace;
}

.nav a:hover {
  color: green;
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

footer {
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .footer,
  .header {
    text-align: center;
  }

  .nav {
    float: none;
    display: block;
  }
}
