@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 700;
  font-style: normal;
  src: url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/eot/?#iefix") 
       format("embedded-opentype"), url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/woff/") 
       format("woff"), url("//cloud.typenetwork.com/licenseWeb/2533/fontfile/svg/#web") 
       format("svg")
}

@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 400;
  font-style: italic;
  src: url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/eot/?#iefix") 
       format("embedded-opentype"), url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/woff/") 
       format("woff"), url("//cloud.typenetwork.com/licenseWeb/2532/fontfile/svg/#web") 
       format("svg")
}

@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 400;
  font-style: normal;
  src: url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/eot/");
  src: url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/eot/?#iefix") 
       format("embedded-opentype"), url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/woff/") 
       format("woff"), url("//cloud.typenetwork.com/licenseWeb/2531/fontfile/svg/#web") 
       format("svg")
}

body {
  width: 80%;
  margin: auto;
  font-size: 18px;
  color: #FF757D;
  background: #322F7C;
  font-family: "Input Mono Narrow";
}

a {
  color: #FF757D;
}

.header {
  padding: 50px 0;
  line-height: 48px;
  font-family: monospace;
}

.header h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  float: right;
  line-height: inherit;
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.headline {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 1.2;
}

ul {
  padding-left: 0;
  list-style: none;
}

.talks li {
  line-height: 1.4;
}

.talks address {
  display: inline-block;
}

.subscribe {
  max-width: 40rem;
  padding: 50px 0;
}

.subscribe input, .subscribe .button {
  height: 45px;
  color: #FF757D;
  outline: none;
  background: none;
  font-size: 1em;
  padding: 0 10px;
  font-family: monospace;
  -webkit-appearance: none;
  border: 2px solid #FF757D;
  box-sizing: border-box;
  white-space: nowrap;
}

.subscribe input::placeholder {
  color: #FF757D;
}

.subscribe .button {
  color: white;
  margin-left: -13px;
  background-color: #FF757D;
}

hr {
  opacity: .1;
  border: none;
  border-bottom: 1px solid #FF757D;
}